@model WebAppMVC.Models.ViewModels.ManagerMemberStatusIndexVM
@{
    Layout = null;
    ViewData["Title"] = "Manager Member Status Page";
    string? search = string.Empty;

    var memberStatuses = Model.MemberStatuses;

    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All Member Status</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                            </div>
                                            @if (TempData["Success"] != null)
                                            {
                                                <div class="alert alert-success alert-dismissible fade show" id="notif">
                                                    <i class='bx bx-message-alt-x p-1'></i>
                                                    <strong class="mr-1">@TempData["Success"]</strong>
                                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                                        <span><i class='bx bx-x'></i></span>
                                                    </button>
                                                </div>
                                                TempData["Success"] = null;
                                            }
                                            else if (TempData["Error"] != null)
                                            {
                                                <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                                    <i class='bx bx-message-alt-x p-1'></i>
                                                    <strong class="mr-1">@TempData["Error"]</strong>
                                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                                        <span><i class='bx bx-x'></i></span>
                                                    </button>
                                                </div>
                                                TempData["Error"] = null;
                                            }
                                            @*<div class="col-sm-6 d-flex justify-content-end">
                                                <form asp-action="ManagerMemberStatus" asp-controller="Manager" method="get" asp-route-search="@search">
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search Username..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>*@
                                        </div>
                                    </div>
                                        <form asp-action="ManagerUpdateMemberStatus" asp-controller="Manager" method="post">
                                            <div class="table-responsive">
                                                    <table id="notification-table" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Member Id
                                                            </th>
                                                            <th>
                                                                Member User name
                                                            </th>
                                                            <th>
                                                                Member Full name
                                                            </th>
                                                            <th>
                                                                Expiration Date
                                                            </th>
                                                            <th>
                                                                Register Date
                                                            </th>
                                                            <th>
                                                                Join Date
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < memberStatuses.Count(); i++)
                                                        {
                                                            <tr class="@("clicks-row "+ (i%2 == 0 ? "even" : "odd")) " data-href="#"
                                                            data-bs-toggle="tooltip" data-bs-placement="right"
                                                            title="More Details">
                                                                <td class="sorting_1">
                                                                    <input type="hidden" asp-for="@memberStatuses[i].MemberId" name="listRequest[@i].MemberId" value="@memberStatuses[i].MemberId" class="form-control" />
                                                                    @memberStatuses[i].MemberId
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@memberStatuses[i].UserName" name="listRequest[@i].UserName" value="@memberStatuses[i].UserName" class="form-control" />
                                                                    @memberStatuses[i].UserName
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@memberStatuses[i].FullName" name="listRequest[@i].FullName" value="@memberStatuses[i].FullName" class="form-control" />
                                                                    @memberStatuses[i].FullName
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@memberStatuses[i].ExpiryDate" name="listRequest[@i].ExpiryDate" value="@memberStatuses[i].ExpiryDate" class="form-control" />
                                                                    @if (memberStatuses[i].ExpiryDate.HasValue)
                                                                    {
                                                                        @memberStatuses[i].ExpiryDate.Value.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                    else
                                                                    {
                                                                        @DateTime.MinValue.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@memberStatuses[i].RegisterDate" name="listRequest[@i].RegisterDate" value="@memberStatuses[i].RegisterDate" class="form-control" />
                                                                    @if (memberStatuses[i].RegisterDate.HasValue)
                                                                    {
                                                                        @memberStatuses[i].RegisterDate.Value.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                    else
                                                                    {
                                                                        @DateTime.MinValue.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@memberStatuses[i].JoinDate" name="listRequest[@i].JoinDate" value="@memberStatuses[i].JoinDate" class="form-control" />
                                                                    @if (memberStatuses[i].JoinDate.HasValue)
                                                                    {
                                                                        @memberStatuses[i].JoinDate.Value.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                    else
                                                                    {
                                                                        @DateTime.MinValue.ToString("dd-MM-yyyy HH:mm")
                                                                        ;
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @* @{
                                                                foreach (var status in defaultStatus)
                                                                {
                                                                if (status.Text.Equals(memberStatuses[i].Status))
                                                                {
                                                                status.Selected = true;
                                                                }
                                                                }
                                                                } *@
                                                                    <select class="form-control" asp-for="@memberStatuses[i].Status" asp-items="@memberStatuses[i].DefaultMemberStatusSelectList" class="custom-select" name="listRequest[@i].Status">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row col-12 d-flex">
                                                <div class="rating-room">
                                                    <button class="button--primary btn-success bg-success shadow btn-xs text-white" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end tapnet -->
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <!--Boxicons-->
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
        <!-- Data-Table -->
    <script>
        $(document).ready(function() {
            $("#notification-table").DataTable({
                pagingType: "full_numbers",
            });
        });
    </script>
</body>
</html>