@model WebAppMVC.Models.ViewModels.ManagerNewsDetailsVM
@{
    Layout = null;
    ViewData["Title"] = "Manager News Post Detail Page";
    BAL.ViewModels.NewsViewModel detailsNews = Model.News;
    BAL.ViewModels.News.UpdateNewsDetail updateNews = Model.updateNews;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Success"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData["Success"] = null;
                }
                else if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Error"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData["Error"] = null;
                }
                <div class="row">
                    <div class="col-7 customer-booking">
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>News post Information</h4>
                                    @{
                                        if (!(detailsNews.Status.Equals("Disabled")))
                                        {
                                            <div class="edit-info">
                                                <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editnews"></i>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">News ID:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsNews.NewsId</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Status:</span>
                                        </div>
                                        <div class="col-sm-7">
                                            @{
                                                switch (detailsNews.Status)
                                                {
                                                    case "Active":
                                                        {
                                                            <span class="outcome" style="float: left;">@detailsNews.Status</span>
                                                            break;
                                                        }
                                                    case "Draft":
                                                    case "Hidden":
                                                        {
                                                            <span class="approval" style="float: left;">@detailsNews.Status</span>
                                                            break;
                                                        }
                                                    case "Archived":
                                                    case "Reported":
                                                    case "Disabled":
                                                        {
                                                            <span class="destroy" style="float: left;">@detailsNews.Status</span>
                                                            break;
                                                        }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">News Title:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsNews.Title</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Upload Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsNews.UploadDate.Value.ToString("MM/dd/yyyy")</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Category:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsNews.Category</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        Post Main Image
                                    </div>
                                    <div class="row">
                                        <span> <img src="@detailsNews.Picture" /></span>
                                    </div>
                                    <div class="row mb-sm-2">
                                        Post Content
                                    </div>
                                    <div class="row">
                                        <span>@Html.Raw(detailsNews.NewsContent)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 cardFB">
                        <div class="card border-0 d-flex">
                            @* <div class="card-header">
                                <h4>Participants</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Participant No:</th>
                                            <th>Name:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var part in parts)
                                        {
                                            <tr>
                                                <td>@part.ParticipantNo</td>
                                                <td>@part.MemberName</td>
                                            </tr>
                                        }
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Room -->
    <div id="editnews" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Edit News</h4>
                </div>
                <form asp-action="ManagerUpdateNewsDetail" asp-controller="Manager" method="post" asp-route-id="@detailsNews.NewsId" class="form-group" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-12">
                                <input asp-for="@updateNews.UserId" type="text"
                                       value="@updateNews.UserId" class="form-control" required hidden>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.Title" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="@updateNews.Title" type="text"
                                               value="@updateNews.Title" class="form-control" required>
                                        <span asp-validation-for="@updateNews.Title" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.Category" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" asp-for="@updateNews.Category" asp-items="@updateNews.DefaultNewsCategorySelectList" class="custom-select" required></select>
                                        <span asp-validation-for="@updateNews.Category" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.UploadDate" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="@updateNews.UploadDate" type="date"
                                               value="@updateNews.UploadDate.Value.ToString("yyyy-MM-dd")" class="form-control" required>
                                        <span asp-validation-for="@updateNews.UploadDate" id="error_message"
                                            class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.Picture" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <img class="profile-pic" style="width:300px; height:300px" src="@updateNews.Picture" />
                                        <input asp-for="@updateNews.ImageUpload" type="file" class="file-upload" accept=".jpg, .png, .jpeg">
                                        <input asp-for="@updateNews.Picture" type="text" value="@updateNews.Picture" class="form-control" required hidden>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.NewsContent" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea asp-for="@updateNews.NewsContent" value="@updateNews.NewsContent" type="text" placeholder="Content..." class="form-control" rows="3" required></textarea>
                                        <span asp-validation-for="@updateNews.NewsContent" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateNews.Status" class="col-sm-4 col-form-label">Status:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" asp-for="@updateNews.Status" asp-items="@updateNews.DefaultNewsStatusSelectList" class="custom-select" required></select>
                                        <span asp-validation-for="@updateNews.Status" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-success" type="submit" value="Update">Save</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
    <script>

        var editor = CKEDITOR.replace('updateNews.NewsContent');
        CKFinder.setupCKEditor(editor, 'ckfinder/');
        data["updateNews.NewsContent"] = editor.getData();
    </script>
</body>
</html>
