@model WebAppMVC.Models.ViewModels.ManagerBlogIndexVM
@{
    Layout = null;
    ViewData["Title"] = "Manager Blog Page";
    List<BAL.ViewModels.BlogViewModel> blogList = Model.Blogs;
    string? search = string.Empty;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Blog</span>
                                    </a>
                                </li>
                            </ul>
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" id="notif">
                                    <i class='bx bx-message-alt-x p-1'></i>
                                    <strong class="mr-1">@TempData["Success"]</strong>
                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                        <span><i class='bx bx-x'></i></span>
                                    </button>
                                </div>
                                TempData["Success"] = null;
                            }
                            else if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                    <i class='bx bx-message-alt-x p-1'></i>
                                    <strong class="mr-1">@TempData["Error"]</strong>
                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                        <span><i class='bx bx-x'></i></span>
                                    </button>
                                </div>
                                TempData["Error"] = null;
                            }
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-7 d-flex address-home">
                                            </div>
                                            <div class="col-sm-5 d-flex justify-content-end search-details">
                                                <form asp-action="ManagerFieldTrip" asp-controller="Manager" method="get" asp-route-search="@search" class="filter form-group">
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content">
                                        @foreach (var data in blogList)
                                        {
                                            <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                                <div class="card1 card-child">
                                                    <div class="club-name">
                                                        <span>Blog ID: @data.BlogId</span>
                                                        <div class="status">
                                                            @{
                                                                switch (data.Status)
                                                                {
                                                                    case "Active":
                                                                        {
                                                                            <span class="stt1" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "Draft":
                                                                    case "Hidden":
                                                                        {
                                                                            <span class="stt3" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "Archived":
                                                                    case "Reported":
                                                                    case "Disabled":
                                                                        {
                                                                            <span class="stt2" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="club-title">
                                                            <ul>
                                                                <li>
                                                                    <h6>Blog Author</h6>
                                                                    <span>@data.Fullname</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Blog Content:</h6>
                                                                    <span>@data.Description</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Category:</h6>
                                                                    <span>@data.Category</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Upload Date:</h6>
                                                                    <span>@data.UploadDate.Value.ToString("MM/dd/yyyy")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Votes:</h6>
                                                                    <span>@data.Vote</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mx-auto">
                                                        <form asp-action="Blog" asp-controller="Manager" method="get" asp-route-id="@data.BlogId">
                                                            <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                                                        </form>
                                                        <button class="btn btn-danger" data-toggle="modal" data-target="#disableBlog_@data.BlogId" type="submit">Disable Blog</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- remove Meeting -->
                                            <div id="disableBlog_@data.BlogId" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="content">
                                                    <div class="modal-content">
                                                        <div class="card-body">
                                                            <div class="del-title">
                                                                <i class='bx bx-error-circle'></i>
                                                                <h2>Are you sure want to disable this Blog post?</h2>
                                                            </div>
                                                            <div class="del-submit d-flex justify-content-center">
                                                                <form asp-action="ManagerDisableBlog" asp-controller="Manager" method="post" asp-route-id="@data.BlogId">
                                                                    <button type="submit" name="action" value="disableBlog" class="btn btn-success">
                                                                        Disable Blog
                                                                    </button>
                                                                </form>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- end tapnet -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>