@model WebAppMVC.Models.ViewModels.ManagerBlogDetailsVM
@{
    Layout = null;
    ViewData["Title"] = "Manager Blog Detail Page";
    BAL.ViewModels.BlogViewModel detailsBlog = Model.Blog;
    BAL.ViewModels.Blog.UpdateBlogStatus updateBlogStatus = Model.updateBlogStatus;
    List<BAL.ViewModels.CommentViewModel> comments = Model.Blog.Comments;
    updateBlogStatus.Status = detailsBlog.Status;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Success"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData["Success"] = null;
                }
                else if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Error"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData["Error"] = null;
                }
                <div class="row">
                    <div class="col-7 customer-booking">
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>Blog post Information</h4>
                                    @{
                                        if (!(detailsBlog.Status.Equals("Disabled")))
                                        {
                                            <div class="edit-info">
                                                <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editblog"></i>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">Blog ID:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsBlog.BlogId</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Status:</span>
                                        </div>
                                        <div class="col-sm-7">
                                            @{
                                                switch (detailsBlog.Status)
                                                {
                                                    case "Active":
                                                        {
                                                            <span class="outcome" style="float: left;">@detailsBlog.Status</span>
                                                            break;
                                                        }
                                                    case "Draft":
                                                    case "Hidden":
                                                        {
                                                            <span class="approval" style="float: left;">@detailsBlog.Status</span>
                                                            break;
                                                        }
                                                    case "Archived":
                                                    case "Reported":
                                                    case "Disabled":
                                                        {
                                                            <span class="destroy" style="float: left;">@detailsBlog.Status</span>
                                                            break;
                                                        }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        Blog Post Main Image
                                    </div>
                                    <div class="row">
                                        <span> <img src="@detailsBlog.Image" /></span>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Member Fullname:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsBlog.Fullname</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Category:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsBlog.Category</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Vote:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsBlog.Vote</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Upload Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsBlog.UploadDate.Value.ToString("MM/dd/yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">Blog Post Details:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@Html.Raw(detailsBlog.Description)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 cardFB">
                        <div class="card border-0 d-flex">
                            <div class="card-header">
                                <h4>Comments</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Member Name:</th>
                                            <th>Comment Date:</th>
                                            <th>Description:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var part in comments)
                                        {
                                            <tr>
                                                <td>@part.UserFullName</td>
                                                <td>@part.Date</td>
                                                <td>@part.Description</td>
                                            </tr>
                                        }
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Room -->
    @if (!(detailsBlog.Status.Equals("Disabled")))
    {
        <div id="editblog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
                <div class="modal-content modal-addRoom">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Blog Status</h4>
                    </div>
                    <form asp-action="ManagerUpdateBlogStatus" asp-controller="Manager" method="post" asp-route-id="@detailsBlog.BlogId" class="form-group">
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-12">
                                    <input asp-for="@updateBlogStatus.BlogId" value="@detailsBlog.BlogId" type="number" class="form-group" required hidden />
                                    <div class="form-group row">
                                        <label asp-for="@updateBlogStatus.Status" class="col-sm-4 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <select asp-for="@updateBlogStatus.Status" asp-items="@updateBlogStatus.DefaultBlogStatusSelectList" class="form-control custom-select" required></select>
                                            <span asp-validation-for="@updateBlogStatus.Status" id="error_message"
                                                  class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button class="btn btn-success" type="submit" value="Update">Save</button>
                            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</body>
</html>
