@model dynamic
@{
    ViewData["Title"] = "Member Birds Page";
    List<BAL.ViewModels.BirdViewModel>? birds = Model.MemberBirds;
    BAL.ViewModels.BirdViewModel createBird = Model.CreateBird != null ? Model.CreateBird : new BAL.ViewModels.BirdViewModel();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <hr>
    <div class="header__breadcrumb container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Member Birds</li>
            </ol>
        </nav>
    </div>
    <hr>

    <div class="profile container">
        <div class="row">
            <div class="navigation col-2" style="background:white">
                <ul class="slide-menu" style="background-color:white">
                    <li>
                        <a
                            href="@Url.Action("MemberProfile", "Member")">
                            <span><i class="bx bx-user"></i></span>
                            <span class="title">Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberHistoryEvent", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Registered Event</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("MemberBird", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Bird</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberPayment", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Payment</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="main-content col-10 p-0">
                <div class="main">
                    <div class="container-fluid">
                        <section>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <div id="history-table_wrapper" class="dataTables_wrapper no-footer">
                                                    <table id="history-table"
                                                        class="table table-striped table-bordered dataTable no-footer"
                                                        aria-describedby="history-table_info">
                                                        <thead>
                                                            <tr>
                                                                <th class="sorting sorting_asc" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1" aria-sort="ascending"
                                                                    aria-label="Bird ID: activate to sort column descending">
                                                                    Bird ID</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Bird Name: activate to sort column ascending">
                                                                    Bird Name</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="ELO: activate to sort column ascending">
                                                                    ELO</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Age: activate to sort column ascending">
                                                                    Age</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Description: activate to sort column ascending">
                                                                    Description</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Added Date: activate to sort column ascending">
                                                                    Added Date</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Color: activate to sort column ascending">
                                                                    Color</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Tình trạng: activate to sort column ascending">
                                                                    Status</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="history-table" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Origin: activate to sort column ascending">
                                                                    Origin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for(int i = 0; i < birds.Count(); i++)
                                                            {
                                                                <tr class="@("clickable-row "+ (i%2 == 0 ? "even" : "odd")) " data-href="#"
                                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="More Details">
                                                                    <td class="sorting_1">@birds[i].BirdId</td>
                                                                    <td>@birds[i].BirdName</td>
                                                                    <td>@birds[i].Elo</td>
                                                                    <td>@birds[i].Age</td>
                                                                    <td>@birds[i].Description</td>
                                                                    <td>@birds[i].AddDate</td>
                                                                    <td>@birds[i].Color</td>
                                                                    <td>@birds[i].Status</td>
                                                                    <td>@birds[i].Origin</td>
                                                                    <!-- feedback -->
                                                                    <!-- end feedback -->
                                                                    <!-- Report -->
                                                                    <!-- end Report -->
                                                                    <!-- feedback form -->
                                                                </tr>
                                                            }
                                                            

                                                            @*<tr class="clickable-row even" data-href="#"
                                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="More Details">
                                                                <td class="sorting_1">Contest06</td>
                                                                <td>Red-whiskered Bulbul Singing Showdown</td>
                                                                <td>2023-10-15 </td>
                                                                <td>200000</td>


                                                                <td>Canceled</td>
                                                                <td>
                                                                    <div class="d-flex justify-content-around">
                                                                        <a href="@Url.Action("MeetingPost", "Meeting")"
                                                                            class="button--primary bg-primary text-white clickable-row">Review Event</a>
                                                                    </div>
                                                                </td>

                                                                <!-- feedback form -->
                                                            </tr>*@

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Bird</span>
                                    </a>
                                </li>              
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                                @{
                                                    if (ViewBag.error != null)
                                                    {
                                                        <span class="text-danger">@ViewBag.error</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content">
                                        <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                                            <div class="card1 card-child">
                                                <div class="card-body add-club">
                                                    <button class="border-0" data-toggle="modal"  data-target="#addBird">
                                                        <span>Add Bird</span>
                                                        <i class='bx bx-add-to-queue'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        @foreach(var data in birds)
                                        {
                                            <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                                <div class="card1 card-child">
                                                    <div class="club-name">
                                                        <span>Bird</span>
                                                        <div class="status"> <!--sẽ thêm các trạng thái status khác sau giờ để tạm-->
                                                            @{
                                                                switch (data.Status)
                                                                {
                                                                    case "Active":
                                                                        {
                                                                            <span class="stt1" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "Injured":
                                                                        {
                                                                            <span class="stt3" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "Inactive":
                                                                        {
                                                                            <span class="stt2" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="club-title">
                                                            <ul>
                                                                <li>
                                                                    <span>@data.ProfilePic</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Bird Name:</h6>
                                                                    <span>@data.BirdName</span>
                                                                </li>
                                                                <li>
                                                                    <h6>ELO:</h6>
                                                                    <span>@data.Elo</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Description:</h6>
                                                                    <span>@data.Description</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Start Date:</h6>
                                                                    <span>@data.AddDate.ToString()</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mx-auto">
                                                        @{
                                                            if (data.Status.Equals("OnHold") || data.Status.Equals("Postponed") || data.Status.Equals("CheckingIn") || data.Status.Equals("Ongoing"))
                                                            {
                                                        <form asp-action="Bird" asp-controller="Member" method="get" asp-route-id="@data.BirdId">
                                                            <button class="btn btn-primary clickable-row btn-border" type="submit">See Detail</button>
                                                        </form>                                                          
                                                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteMeeting_@data.BirdId" type="submit">Cancel</button>
                                                            }
                                                            else
                                                            {
                                                        <form asp-action="Bird" asp-controller="Member" method="get" asp-route-id="@data.BirdId">
                                                            <button class="btn btn-primary clickable-row btn-border" type="submit" style="align-self:center">See Detail</button>
                                                        </form>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- remove Bird -->
                                            <div id="deleteBird_@data.BirdId" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="content">
                                                    <div class="modal-content">
                                                        <div class="card-body">
                                                            <div class="del-title">
                                                                <i class='bx bx-error-circle'></i>
                                                                <h2>Are you sure you want to delete this Bird ?</h2>
                                                            </div>
                                                            <div class="del-submit d-flex justify-content-center">
                                                                <form asp-action="MemberDeleteBird" asp-controller="Member" method="post" asp-route-id="@data.BirdId">
                                                                    <button type="submit" name="action" value="deleteMeeting" class="btn btn-success">
                                                                        Yes
                                                                    </button>
                                                                </form>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>                               
                            <!-- end tapnet -->
                        </div>
                    </div>
                    </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="addBird" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Add new Bird</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="MemberCreateBird" asp-controller="Member" method="post" id="form">
                        <div class="row p-4">
                            <div class="col-12">
                                <div class="row form-group">
                                    <label asp-for="@createBird.BirdName" class="col-md-3 col-form-label text-md-right"></label>
                                    <input asp-for="@createBird.BirdName" value="@createBird.BirdName" type="text" placeholder="Bird Name" required class="form-control col-md-7">
                                    <span asp-validation-for="@createBird.BirdName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3 col-form-label mt-2 text-md-right">Choose Picture</label>
                                    <input type="file" name="photo" class="form-control col-md-7 mt-2" accept="image/*">

                                    <label asp-for="@createBird.AddDate" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createBird.AddDate" value="@createBird.AddDate.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" readonly class="form-control col-md-7 mt-3" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}">
                                    <span asp-validation-for="@createBird.AddDate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createBird.Elo" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createBird.Elo" value="@createBird.Elo" type="number" class="form-control col-md-7 mt-3" required min="3">
                                    <span asp-validation-for="@createBird.Elo" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createBird.Age" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createBird.Age" value="@createBird.Age" type="number" placeholder="Meeting Host" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createBird.Age" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createBird.Color" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createBird.Color" value="@createBird.Color" type="text" placeholder="Staff incharge of Meeting" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createBird.Color" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createBird.Description" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createBird.Description" value="@createBird.Description" type="text" placeholder="Meeting description..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createBird.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createBird.Origin" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createBird.Origin" value="@createBird.Origin" type="text" placeholder="Meeting Note..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createBird.Origin" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                            </div>                
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-success" type="submit" name="action" value="createRoom" >Save</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <!-- main js -->
</body>
</html>