
@model BAL.ViewModels.FieldTripViewModel
﻿@{
    ViewData["Title"] = "Field Trip Post Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- FONT -->
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&family=Roboto+Condensed:wght@400;700&display=swap"
            rel="stylesheet">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="~/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <!-- Bootstrap CSS -->
    <!--Boxicons-->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
    <!-- Other-->
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" >
        <!-- main CSS -->
        <link rel="stylesheet" href="~/css/main.css">
            <link rel="stylesheet" href="~/css/FieldTrip.css">
          
    <!-- main CSS -->
</head>
<body>
    <div class="member-field-trips-post">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="background">
            <div class="overlap-group">
              <img class="subtract" src="~/images/Background.png" />
            </div>
          </div>
                <div class="headlines">
                    <div class="group">
                        <div class="overlap-2">
                            <div class="flexcontainer">
                                <p class="text">

                                    <span class="text-wrapper">Content<br /></span>
                                </p>
                                <p class="span-wrapper">
                                    <span class="span">
                                        @Model.Description
                                    </span>
                                </p>
                            </div>
                            <div class="flexcontainer-2">
                                <p class="text">
                                    <span class="text-wrapper">Notes<br /></span>
                                </p>
                                <p class="p">
                                    <span class="span">
                                        @Model.Note
                                    </span>
                                </p>
                            </div>
                            <div class="tittle">
                                <div class="div-wrapper"><div class="text-wrapper-3">Field Trip</div></div>
                            </div>
                            @{
                                if (Model.Media != null)
                                {
                                    <img class="soi-noi-hoi-thi-chim" src="@Model.Media.FirstOrDefault().Image" alt="nt1">
                                }
                                else
                                {
                                    <img class="soi-noi-hoi-thi-chim" src="~/images/meeting.png" alt="nt1">
                                }
                            }
                        </div>
                    </div>
                    <div class="info">
                        <div class="overlap-3">
                            <div id="map-container"></div>
                            <div class="tittle">
                                <div class="overlap-group-2"><p class="text-wrapper-4">@Model.TripName</p></div>
                            </div>
                            <div class="text-wrapper-5">From @Model.StartDate.Value.ToString("MM/dd/yyyy") to @Model.EndDate.Value.ToString("MM/dd/syyyy")</div>


                            <div class="group-2">
                                <div class="text-wrapper-6">Participation Limit</div>
                                <div class="text-wrapper-7">Registration Deadlines</div>
                                <div class="text-wrapper-8">Location</div>
                                <div class="text-wrapper-9">Contact</div>
                                <div class="text-wrapper-10">Organizer</div>
                            </div>



                            <div class="group-3">
                                <div class="text-wrapper-11">@Model.AreaNumber,@Model.Street,@Model.District,@Model.City</div>
                                @*<div class="text-wrapper-11">@Model.Street</div>*@
                                <p class="text-wrapper-12">@Model.NumberOfParticipantsLimit</p>
                                <div class="text-wrapper-13">@Model.RegistrationDeadline</div>
                                <div class="text-wrapper-14">ChaoMaoClub@gmail.com</div>
                                <div class="text-wrapper-15">@Model.Host</div>
                            </div>
                            <div class="register">
                                @{
                                    if (Model.ParticipationNo != 0 && Model.ParticipationNo != null)
                                    {
                                        <div class="overlap-group-3 text-wrapper-16">
                                            <span class="text-success">@ViewBag.PartNumber</span>
                                        </div>
                                                <form asp-action="FieldTripDeRegister" asp-controller="FieldTrip" method="post" asp-route-tripId="@Model.TripId">
                                            <button class="overlap-group-3 text-wrapper-16" type="submit">Sign Out</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-action="FieldTripRegister" asp-controller="FieldTrip" method="post" asp-route-tripId="@Model.TripId">
                                            <button class="overlap-group-3 text-wrapper-16" type="submit">Register</button>
                                        </form>
                                    }
                                }
                            </div>                                                       
                    </div>
                </div>
                
            <section>
                    <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Overview</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home2">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Day By Day</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home5">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Rates</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home6">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Inclusions</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home7">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Getting There</span>
                                    </a>
                                </li>
                    </ul>
                    <div class="tab-content">
                                       
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">                           
                                            <div class="tour__content__block tour__content__block--consider avoid-break-p">
                    <h2>Tour Rates</h2>
                    <div class="row">
                        @foreach (var day in Model.Rates)
                        {
                            <div class="col col-12 col-t-6 item">
                                <div class="svg-box">
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-accomodation-mid.svg" alt="">
                                </div>
                                <h4>Mid-range tour</h4>
                                <p>This mid-range tour uses lodges and tented camps.</p>
                            </div>
                        }                       
                        <div class="col col-12 col-t-6 item  ">
                            <div class="svg-box">
                                <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-group-small.svg" alt="">
                            </div>
                            <h4>Shared tour</h4>
                            <p>On this shared tour, you will join a group of other travelers. Max 4 people per vehicle.</p>
                        </div>
                        <div class="col col-12 col-t-6 item  hide show-t  ">
                            <div class="svg-box">
                                <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-departure-any-day.svg" alt="">
                            </div>
                            <h4>Can start any day</h4>
                            <p>If availability permits, this tour can start on any day.</p>
                        </div>
                        <div class="col col-12 col-t-6 item  ">
                            <div class="svg-box">
                                <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-customize-no.svg" alt="">
                            </div>
                            <h4>Cannot be customized</h4>
                            <p>The accommodations and destinations of this tour cannot be changed.</p>
                        </div>
                        <div class="col col-12 col-t-6 item  ">
                            <div class="svg-box">
                                <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-solo-travelers-yes.svg" alt="">
                            </div>
                            <h4>Suitable for single travelers</h4>
                            <p>Single travelers can join this group tour.</p>
                        </div>
                        <div class="col col-12 col-t-6 item  ">
                            <div class="svg-box">
                                <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-age-plus.svg" alt="">
                                <span>3</span>
                            </div>
                            <h4>Minimum age of 3 years</h4>
                            <p>The minimum age for this tour is 3 years.</p>
                        </div>
                    </div>

                </div>
                <div class="tour__content__block tour__content__block--activities avoid-break-p">
                    <h2>Activities &amp; Transportation</h2>

                    <ul>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-activities.svg" alt="">
                                </picture>
                            </div>
                            <span>
                                Activities: <b>game drives</b>, <b> walking safaris</b> <span>(with an armed guide)</span> &amp; <b> specialized birding</b> <span>(with a professional birding guide)</span>
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-tour-selfdriving.svg" alt="">
                                </picture>
                            </div>
                            <span>
                                Game drives: <a href="#" class="help image textual" data-val="https://cfstatic.safaribookings.com/images/vehicles/normal-4x4-vehicle.jpg" title="">normal 4x4 vehicle</a> &amp; minivan
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-road.svg" alt="">
                                </picture>
                            </div>
                            <span>
                                Getting around: minivan, normal 4x4 vehicle &amp; hiking/walking
                            </span>
                        </li>
                        <li class="hide-544">
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-internationaal-flight.svg" alt="">
                                </picture>
                            </div>
                            <span>
                                Book your own international flights when using this operator <a href="#" title="If a tour operator cannot book your international flights, they will pick you up from the airport and take care of all further transportation, in most cases. All you'll have to do is book the flight yourself using a website such as Skyscanner.com. Please be sure to contact the operator upfront to confirm availability, dates and pick-up service." class="help">help</a>
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-airport-transfer.svg" alt="">
                                </picture>
                            </div>
                            <span>
                                A <b>transfer</b> from and back to the airport is included
                            </span>
                        </li>

                    </ul>

                </div>

                <div class="tour__content__block tour__content__block--accommodations avoid-break-p">
                    <h2>Accommodation &amp; Meals</h2>

                    <ul>
                        <li class="footnote">
                            <div class="txt--small txt--normal"><i class="sbi sbi--info-red"></i>Additional accommodation before and at the end of the tour can be arranged for an extra cost</div>
                        </li>
                        <li class="heading">
                            <div>Day</div>
                            <div>Accommodation</div>
                            <div class="hide show-ti">Meals</div>
                        </li>
                        <li>
                            <div>1</div>
                            <div>
                                <a href="https://kakakuona-resort.business.site/" target="_blank" rel="noopener nofollow">
                                    Kakakuona Resort
                                </a>
                                <span class="txt--small">
                                    Budget resort in or near Lushoto (Usambaras)
                                    <span class="hide-t txt--italic">
                                        – All Meals Included
                                    </span>
                                </span>





                            </div>
                            <div class="txt--small">
                                <div class="hide show-t">
                                    All Meals Included
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>2</div>
                            <div>
                                <a href="https://magoroto.com" target="_blank" rel="noopener nofollow">
                                    Magoroto Forest Estate (Camping Tents)
                                </a>
                                <span class="txt--small">
                                    Budget tented camp inside Magoroto Forest
                                    <span class="hide-t txt--italic">
                                        – All Meals Included
                                    </span>
                                </span>





                            </div>
                            <div class="txt--small">
                                <div class="hide show-t">
                                    All Meals Included
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>3</div>
                            <div>
                                <a href="https://www.amaniforestcamp.com" target="_blank" rel="noopener nofollow">
                                    Amani Forest Camp
                                </a>
                                <span class="txt--small">
                                    Mid-range lodge inside Amani NR (Usambaras)
                                    <span class="hide-t txt--italic">
                                        – All Meals Included
                                    </span>
                                </span>





                                <div class="gallery__preview--row">
                                    <a href="#photo1" class="" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                        <div>
                                            <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648833154172_.jpeg" alt="">
                                        </div>
                                    </a>
                                    <a href="#photo2" class="" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                        <div>
                                            <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_1664883565102_ama3r.jpeg" alt="">
                                        </div>
                                    </a>
                                    <a href="#photo3" class="more-photos" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                        <div>
                                            <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648835651177_ama2r.jpeg" alt="">
                                            <span>
                                                <b>+5</b>
                                                Photos
                                            </span>
                                        </div>
                                    </a>
                                    <a href="#photo4" class="more-photos" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                        <div>
                                            <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648833154175_ama6.jpeg" alt="">
                                            <span>
                                                <b>+4</b>
                                                Photos
                                            </span>
                                        </div>
                                    </a>
                                </div>



                            </div>
                            <div class="txt--small">
                                <div class="hide show-t">
                                    All Meals Included
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>4</div>
                            <div>
                                End of tour<br><span class="no-accommodation txt--small txt--xgrey">(No accommodation)</span>
                                <span class="txt--small">
                                    <span class="hide-t txt--italic">
                                        – Breakfast &amp; Lunch Included
                                    </span>
                                </span>





                            </div>
                            <div class="txt--small">
                                <div class="hide show-t">
                                    Breakfast &amp; Lunch Included
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                


            </div>
                                <!-- home2 -->

                                <div class="tab-pane" id="home2" role="tabpanel">
                                    <div class="tour__content__block tour__content__block--daybyday">

                    <div class="day">
                        <div class="day__header  day__header--text   startend  ">
                            <div class="caption  ">
                                <h3 class="hide-t"><i class="sbi sbi--map-pin"></i><span>Arrival <span class="txt--small hide show-ti">(See <a href="https://www.safaribookings.com/gettingthere/t56551" class="tablink scrolltop" rel="nofollow">Getting There</a> for more details)</span></span></h3><h3 class="no-title hide show-t"></h3><h2 class="hide show-t startend"><i class="sbi sbi--map-pin"></i><span>Arrival <span class="txt--small hide show-ti">(See <a href="https://www.safaribookings.com/gettingthere/t56551" class="tablink scrolltop" rel="nofollow">Getting There</a> for more details)</span></span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <p class="shorten-m" data-shorten="300"></p>
                                <ul class="list list--icon list--icon-arrow list--icon-nopadding">
                                    <li>You'll be collected from the airport.</li>
                                    <li>Accommodation before the tour starts can be arranged for an extra cost.</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="day">
                        <div class="day__header  day__header--photo   ">
                            <div class="photos">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source media="(min-width: 970px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Lushoto_003.jpg">
                                    <source media="(min-width: 772px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Lushoto_003.jpg">
                                    <source media="(min-width: 484px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Lushoto_003.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="" alt="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Lushoto_003@2x.jpg 2x" src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Lushoto_003.jpg">
                                    <noscript>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Lushoto_003.jpg" media="(min-width: 970px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Lushoto_003.jpg" media="(min-width: 772px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Lushoto_003.jpg" media="(min-width: 484px)" class="lazyload">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Lushoto_003.jpg" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Lushoto_003@2x.jpg 2x" class="lazyload" alt="" />
                                    </noscript>
                                </picture>
                            </div>
                            <div class="caption  caption--photo  ">
                                <h3><span>Day 1</span></h3><h2 class="hide show-t"><span>Arusha to Lushote</span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <h2 class="hide-t serif">Arusha to Lushote</h2>
                                <p class="shorten-m" data-shorten="300">Driving from Arusha to Lushoto take 4 hrs to five. This day you will rest. In evening you will have little town. Lushoto town is an old town which has historical builds and sites. You will have dinner in town while interact with indigenous people from Samba community.</p>
                            </div>

                            <div class="day__inner__block">
                                <dl>
                                    <dt>
                                        Main Destination:
                                    </dt>
                                    <dd>
                                        Lushoto <span class="txt--small txt--xgrey">(Town)</span>
                                    </dd>


                                    <dt>
                                        Accommodation:
                                    </dt>
                                    <dd>
                                        <a href="https://kakakuona-resort.business.site/" class="external show-ti mb-4" target="_blank" rel="nofollow noopener"><b>Kakakuona Resort</b></a>
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li>
                                                Budget resort located in or near Lushoto
                                            </li>
                                        </ul>

                                    </dd>


                                </dl>



                                <dl class="no-top-margin">
                                    <dt>
                                        Meals &amp; Drinks:
                                    </dt>
                                    <dd class="with-bullet">
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li class="mb-4">All meals included</li>
                                            <li>Drinking water &amp; beer and wine <span class="txt--grey txt--small">(Other drinks not included)</span></li>
                                        </ul>
                                    </dd>
                                </dl>


                            </div>
                        </div>
                    </div>

                    <div class="day">
                        <div class="day__header  day__header--photo   ">
                            <div class="photos">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source media="(min-width: 970px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Irente_Viewpoint_003.jpg">
                                    <source media="(min-width: 772px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Irente_Viewpoint_003.jpg">
                                    <source media="(min-width: 484px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Irente_Viewpoint_003.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="" alt="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Irente_Viewpoint_003@2x.jpg 2x" src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Irente_Viewpoint_003.jpg">
                                    <noscript>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Irente_Viewpoint_003.jpg" media="(min-width: 970px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Irente_Viewpoint_003.jpg" media="(min-width: 772px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Irente_Viewpoint_003.jpg" media="(min-width: 484px)" class="lazyload">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Irente_Viewpoint_003.jpg" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Irente_Viewpoint_003@2x.jpg 2x" class="lazyload" alt="" />
                                    </noscript>
                                </picture>
                            </div>
                            <div class="caption  caption--photo  ">
                                <h3><span>Day 2</span></h3><h2 class="hide show-t"><span>Treking to irente view</span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <h2 class="hide-t serif">Treking to irente view</h2>
                                <p class="shorten-m" data-shorten="300">In the morning you will have short treking for almost an hr to irente view point. Late noon you will be driven to Magoroto forest where you will have canoe at evening before dinner. Magoroto forest is well known as the bali of Africa because of it similarities.</p>
                            </div>

                            <div class="day__inner__block">
                                <dl>
                                    <dt>
                                        Main Destination:
                                    </dt>
                                    <dd>
                                        Irente Viewpoint <span class="txt--small txt--xgrey">(Usambaras)</span>
                                    </dd>


                                    <dt>
                                        Accommodation:
                                    </dt>
                                    <dd>
                                        <a href="https://magoroto.com" class="external show-ti mb-4" target="_blank" rel="nofollow noopener"><b>Magoroto Forest Estate (Camping Tents)</b></a>
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li>
                                                Budget tented camp located inside Magoroto Forest
                                            </li>
                                        </ul>

                                    </dd>


                                </dl>



                                <dl class="no-top-margin">
                                    <dt>
                                        Meals &amp; Drinks:
                                    </dt>
                                    <dd class="with-bullet">
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li class="mb-4">All meals included</li>
                                            <li>Drinking water <span class="txt--grey txt--small">(Other drinks not included)</span></li>
                                        </ul>
                                    </dd>
                                </dl>


                            </div>
                        </div>
                    </div>

                    <div class="day">
                        <div class="day__header  day__header--photo   ">
                            <div class="photos">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source media="(min-width: 970px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Amani_Nature_Reserve_002.jpg">
                                    <source media="(min-width: 772px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Amani_Nature_Reserve_002.jpg">
                                    <source media="(min-width: 484px)" class="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Amani_Nature_Reserve_002.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="" alt="" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Amani_Nature_Reserve_002@2x.jpg 2x" src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Amani_Nature_Reserve_002.jpg">
                                    <noscript>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Amani_Nature_Reserve_002.jpg" media="(min-width: 970px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Amani_Nature_Reserve_002.jpg" media="(min-width: 772px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Amani_Nature_Reserve_002.jpg" media="(min-width: 484px)" class="lazyload">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Amani_Nature_Reserve_002.jpg" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Amani_Nature_Reserve_002@2x.jpg 2x" class="lazyload" alt="" />
                                    </noscript>
                                </picture>
                            </div>
                            <div class="caption  caption--photo  ">
                                <h3><span>Day 3</span></h3><h2 class="hide show-t"><span>Magoroto forest</span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <h2 class="hide-t serif">Magoroto forest</h2>
                                <p class="shorten-m" data-shorten="300">This day you will have trekking into magoroto forest for couple hrs to watch birds and other small animals found in the forest. At noon you will have lunch and off to Amman nature reserve where you will have dinner and enjoying night firewood with glass of wine.</p>
                            </div>

                            <div class="day__inner__block">
                                <dl>
                                    <dt>
                                        Main Destination:
                                    </dt>
                                    <dd>
                                        Amani Nature Reserve <span class="txt--small txt--xgrey">(Usambaras)</span>
                                    </dd>


                                    <dt>
                                        Accommodation:
                                    </dt>
                                    <dd>
                                        <a href="https://www.amaniforestcamp.com" class="external show-ti mb-4" target="_blank" rel="nofollow noopener"><b>Amani Forest Camp</b></a>
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li>
                                                Mid-range lodge located inside Amani NR
                                            </li>
                                        </ul>




                                        <div class="gallery__preview--row">
                                            <a href="#photo1" class="" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                                <div>
                                                    <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648833154172_.jpeg" alt="">
                                                </div>
                                            </a>
                                            <a href="#photo2" class="" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                                <div>
                                                    <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_1664883565102_ama3r.jpeg" alt="">
                                                </div>
                                            </a>
                                            <a href="#photo3" class="more-photos" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                                <div>
                                                    <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648835651177_ama2r.jpeg" alt="">
                                                    <span>
                                                        <b>+5</b>
                                                        Photos
                                                    </span>
                                                </div>
                                            </a>
                                            <a href="#photo4" class="more-photos" data-gallery="https://www.safaribookings.com/a2581/photos" rel="overlay nofollow">
                                                <div>
                                                    <img class="" src="https://cloudfront.safaribookings.com/accommodations/photos/thumbs/2581_16648833154175_ama6.jpeg" alt="">
                                                    <span>
                                                        <b>+4</b>
                                                        Photos
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </dd>


                                </dl>



                                <dl class="">
                                    <dt>
                                        Meals &amp; Drinks:
                                    </dt>
                                    <dd class="with-bullet">
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li class="mb-4">All meals included</li>
                                            <li>Drinks not included</li>
                                        </ul>
                                    </dd>
                                </dl>


                            </div>
                        </div>
                    </div>

                    <div class="day">
                        <div class="day__header  day__header--photo   ">
                            <div class="photos">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source data-srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Arusha_001.jpg" media="(min-width: 970px)" class="lazyload">
                                    <source data-srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Arusha_001.jpg" media="(min-width: 772px)" class="lazyload">
                                    <source data-srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Arusha_001.jpg" media="(min-width: 484px)" class="lazyload">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img data-src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Arusha_001.jpg" data-srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Arusha_001@2x.jpg 2x" class="lazyload" alt="">
                                    <noscript>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Arusha_001.jpg" media="(min-width: 970px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/960x300/Arusha_001.jpg" media="(min-width: 772px)" class="lazyload">
                                        <source srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/752x253/Arusha_001.jpg" media="(min-width: 484px)" class="lazyload">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Arusha_001.jpg" srcset="https://cloudfront.safaribookings.com/lib/tanzania/destination/464x145/Arusha_001@2x.jpg 2x" class="lazyload" alt="" />
                                    </noscript>
                                </picture>
                            </div>
                            <div class="caption  caption--photo  ">
                                <h3><span>Day 4</span></h3><h2 class="hide show-t"><span>Aman nature to Arusha</span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <h2 class="hide-t serif">Aman nature to Arusha</h2>
                                <p class="shorten-m" data-shorten="300">After breakfast you will have anaother short hiking into view clef and waterfall to explore the beauty of this rain forest. After lunch you will have a drive from Aman to Arusha. on our way we may pass Lake chala if we will have enough time. Overnight and dinner at charity hotel.</p>
                            </div>

                            <div class="day__inner__block">
                                <dl>
                                    <dt>
                                        Main Destination:
                                    </dt>
                                    <dd>
                                        Arusha <span class="txt--small txt--xgrey">(City)</span>
                                    </dd>


                                    <dt>
                                        Accommodation:
                                    </dt>
                                    <dd>
                                        No accommodation <span class="txt--small txt--xgrey">(End of tour)</span>

                                    </dd>


                                </dl>



                                <dl class="no-top-margin">
                                    <dt>
                                        Meals &amp; Drinks:
                                    </dt>
                                    <dd class="with-bullet">
                                        <ul class="list list--icon list--icon-arrow list--icon-nopadding txt--small txt--grey">
                                            <li class="mb-4">Breakfast &amp; lunch <span class="txt--grey txt--small">(Dinner not included)</span></li>
                                            <li>Drinks not included</li>
                                        </ul>
                                    </dd>
                                </dl>


                            </div>
                        </div>
                    </div>

                    <div class="day">
                        <div class="day__header  day__header--text   startend  ">
                            <div class="caption  ">
                                <h3 class="hide-t"><i class="sbi sbi--map-pin"></i><span>End of tour <span class="txt--small hide show-ti">(See <a href="https://www.safaribookings.com/gettingthere/t56551" class="tablink scrolltop" rel="nofoll">Getting There</a> for more details)</span></span></h3><h3 class="no-title hide show-t"></h3><h2 class="hide show-t startend"><i class="sbi sbi--map-pin"></i><span>End of tour <span class="txt--small hide show-ti">(See <a href="https://www.safaribookings.com/gettingthere/t56551" class="tablink scrolltop" rel="nofoll">Getting There</a> for more details)</span></span></h2>
                            </div>
                        </div>

                        <div class="day__inner">
                            <div class="day__inner__block">
                                <p class="shorten-m" data-shorten="300"></p>
                                <ul class="list list--icon list--icon-arrow list--icon-nopadding">
                                    <li>Additional accommodation can be arranged for an extra cost.</li>
                                    <li>You'll be dropped off at the airport.</li>
                                </ul>
                            </div>

                        </div>
                    </div>


                </div>              


            </div>           



            <div class="tab-pane" id="home5" role="tabpanel">


                <div class="tour__content__block tour__content__block--rates">
                    <h2>Important to Know</h2>

                    <ul class="list list--icon list--icon-arrow">
                        <li>
                            Rates are <b>per person</b> and <b>exclude the international flight</b> from/to your home country.
                        </li>
                        <li>
                            This tour <b>is not available to groups larger than 5 people</b>.
                        </li>
                        <li>
                            This tour accepts children who are <b>3 years and older</b>. Children <b><nobr>under 6</nobr></b> receive a discount.
                        </li>
                    </ul>
                </div>


                <div class="tour__content__block tour__content__block--rates">

                    <div class="tabs tabs--countriesparks not-sticky rates-mob-tab hide-430">
                        <a href="" role="tab" class="active">Rates Per Person</a>
                        <a href="" role="tab">Inclusions</a>
                    </div>

                    <div class="tab1">
                        <h2 class="show-430">Rates Per Person</h2>

                        <div class="accordion  container__unpad   show hide-t hide-p  rates-table-block-m " data-accordion="rates">

                            <div class="accordion__item rates-table-block__day  ">
                                <b class="accordion__key">Jan 1, 2024 - Dec 31, 2024</b>
                                <div class="accordion__value">
                                    <em class="accordion__col-head">Per person</em>

                                    <div class="accordion__subrow">
                                        <div class="accordion__col">
                                            Single
                                            <span class="txt--xgrey txt--small"> (1 room)</span>
                                        </div>
                                        <div class="accordion__col accordion__col--rate">$825</div>
                                    </div>
                                    <div class="accordion__subrow">
                                        <div class="accordion__col">
                                            2+ people
                                            <span class="txt--xgrey txt--small"> (Sharing rooms)</span>
                                        </div>
                                        <div class="accordion__col accordion__col--rate">$770</div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item rates-table-block__day  ">
                                <b class="accordion__key">Jan 1, 2025 - Dec 31, 2025</b>
                                <div class="accordion__value">
                                    <em class="accordion__col-head">Per person</em>

                                    <div class="accordion__subrow">
                                        <div class="accordion__col">
                                            Single
                                            <span class="txt--xgrey txt--small"> (1 room)</span>
                                        </div>
                                        <div class="accordion__col accordion__col--rate">$825</div>
                                    </div>
                                    <div class="accordion__subrow">
                                        <div class="accordion__col">
                                            2+ people
                                            <span class="txt--xgrey txt--small"> (Sharing rooms)</span>
                                        </div>
                                        <div class="accordion__col accordion__col--rate">$770</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rates-table-block rates-table-block-t   hide show-t show-p  ">

                            <table class="table table--sec">

                                <thead>

                                    <tr class="cells-3  txt--small  ">

                                        <th>
                                            <div class="left">Start dates</div>
                                        </th>


                                        <th>
                                            Single <span>1 room</span>
                                        </th>


                                        <th>
                                            2+ people <span>Sharing rooms</span>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>



                                    <tr class="cells-3  ">

                                        <th>
                                            Jan 1, 2024 - Dec 31, 2024
                                        </th>


                                        <td data-persons="1">
                                            $825
                                        </td>


                                        <td data-persons="plus">
                                            $770
                                        </td>

                                    </tr>



                                    <tr class="cells-3  ">

                                        <th>
                                            Jan 1, 2025 - Dec 31, 2025
                                        </th>


                                        <td data-persons="1">
                                            $825
                                        </td>


                                        <td data-persons="plus">
                                            $770
                                        </td>

                                    </tr>




                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab2 hide-430 hide">
                        <div class="tour__content__block tour__content__block--inclusions">
                            <h2 class="with-icon"><span><i class="sbi sbi--plus"></i> Included</span></h2>

                            <ul class="list list--icon">
                                <li>Park fees <span class="txt--xsmall txt--xgrey">(For non-residents)</span></li>
                                <li>All activities <span class="txt--xsmall txt--xgrey">(Unless labeled as optional)</span></li>
                                <li>All accommodation <span class="txt--xsmall txt--xgrey">(Unless listed as upgrade)</span></li>
                                <li>A professional driver/guide</li>
                                <li>All transportation <span class="txt--xsmall txt--xgrey">(Unless labeled as optional)</span></li>
                                <li>All Taxes/VAT</li>
                                <li>Roundtrip airport transfer</li>
                                <li>Meals <span class="txt--xsmall txt--xgrey">(As specified in the day-by-day section)</span></li>
                                <li>Drinks <span class="txt--xsmall txt--xgrey">(As specified in the day-by-day section)</span></li>
                            </ul>
                        </div>

                        <div class="tour__content__block tour__content__block--inclusions">
                            <h2 class="with-icon"><span><i class="sbi sbi--minus"></i> Excluded</span></h2>

                            <ul class="list list--icon">
                                <li>International flights <span class="txt--xsmall txt--xgrey">(From/to home)</span></li>
                                <li>Additional accommodation before and at the end of the tour</li>
                                <li>Tips <span class="txt--xsmall txt--xgrey">(Tipping guideline US$10.00 pp per day)</span></li>
                                <li>Personal items <span class="txt--xsmall txt--xgrey">(Souvenirs, travel insurance, visa fees, etc.)</span></li>
                                <li>Government imposed increase of taxes and/or park fees</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="tab-pane" id="home6" role="tabpanel">

                <div class="tour__content__block tour__content__block--inclusions">
                    <h2 class="with-icon"><span><i class="sbi sbi--plus"></i> Included</span></h2>

                    <ul class="list list--icon">
                        <li>Park fees <span class="txt--xsmall txt--xgrey">(For non-residents)</span></li>
                        <li>All activities <span class="txt--xsmall txt--xgrey">(Unless labeled as optional)</span></li>
                        <li>All accommodation <span class="txt--xsmall txt--xgrey">(Unless listed as upgrade)</span></li>
                        <li>A professional driver/guide</li>
                        <li>All transportation <span class="txt--xsmall txt--xgrey">(Unless labeled as optional)</span></li>
                        <li>All Taxes/VAT</li>
                        <li>Roundtrip airport transfer</li>
                        <li>Meals <span class="txt--xsmall txt--xgrey">(As specified in the day-by-day section)</span></li>
                        <li>Drinks <span class="txt--xsmall txt--xgrey">(As specified in the day-by-day section)</span></li>
                    </ul>
                </div>

                <div class="tour__content__block tour__content__block--inclusions">
                    <h2 class="with-icon"><span><i class="sbi sbi--minus"></i> Excluded</span></h2>

                    <ul class="list list--icon">
                        <li>International flights <span class="txt--xsmall txt--xgrey">(From/to home)</span></li>
                        <li>Additional accommodation before and at the end of the tour</li>
                        <li>Tips <span class="txt--xsmall txt--xgrey">(Tipping guideline US$10.00 pp per day)</span></li>
                        <li>Personal items <span class="txt--xsmall txt--xgrey">(Souvenirs, travel insurance, visa fees, etc.)</span></li>
                        <li>Government imposed increase of taxes and/or park fees</li>
                    </ul>
                </div>



            </div>



            <div class="tab-pane" id="home7" role="tabpanel">

                <div class="tour__content__block tour__content__block--gettingthere">

                    <h2>Getting There</h2>

                    <ul>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-finish-flag.svg" class="" alt="">
                                </picture>
                            </div>
                            <span>
                                This tour starts and ends in <b>Arusha</b>
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-internationaal-flight.svg" class="" alt="">
                                </picture>
                            </div>
                            <span>
                                Book your own international flights when using this operator <a href="#" title="If a tour operator cannot book your international flights, they will pick you up from the airport and take care of all further transportation, in most cases. All you'll have to do is book the flight yourself using a website such as Skyscanner.com. Please be sure to contact the operator upfront to confirm availability, dates and pick-up service." class="help">help</a>
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-fly-to.svg" class="" alt="">
                                </picture>
                            </div>
                            <span>
                                Fly to/from <b>Kilimanjaro Airport</b> (JRO<span class="hide show-ti">&nbsp;- <a href="https://www.skyscanner.com/transport/flights/VN/JRO" rel="nofollow" target="_blank">Check price</a></span>) near Arusha. Or fly to/from <b>Arusha Airport</b> (ARK<span class="hide show-ti">&nbsp;- <a href="https://www.skyscanner.com/transport/flights/VN/ARK" rel="nofollow" target="_blank">Check price</a></span>) via Dar es Salaam or Nairobi (Kenya)
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-airport-transfer.svg" class="" alt="">
                                </picture>
                            </div>
                            <span>
                                A <b>transfer</b> from and back to the airport is included
                            </span>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <img src="https://cfstatic.safaribookings.com/img/svg/icons-red/icon-accomodation-budget.svg" class="" alt="">
                                </picture>
                            </div>
                            <span>
                                Additional <b>accommodation</b> before and at the end of the tour can be arranged for an extra cost
                            </span>
                        </li>
                    </ul>

                </div>
                </div>
                </div>
 </section>
 </div>
 </div>
 </div>
 </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
        <!-- Jquery Waypoint -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <!-- BS4 JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- BS4 carousels -->
        <script>
            $('.carousel').carousel({
                interval: 3000
            });
        </script>
        <!-- owl carousels -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script>
            $('.clubList-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    576: {
                        items: 2
                    },
                    1200: {
                        items: 4
                    }
                }
            });
        </script>
        <!-- main js -->
        <script src="~/js/user-script.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/owner-script.js"></script>
</body>
</html>