<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - birdclubsystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FieldTrip.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/birdclubsystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">birdclubsystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <nav class="navbar navbar-expand-xl border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand nav-name-text" href="@Url.Action("Index", "Home")">
                    <img class="d-inline-block" src="/images/Red_whiskered_bulbul_bird_logo_eps_10_generated 1.png" />
                    ChaoMao Club
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="@Url.Action("Index","Meeting")">Meetings</a>
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="@Url.Action("Index", "FieldTrip")">Field trips</a>
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link pb-0" href="@Url.Action("Index", "Contest")">Contests</a>
                            @*<button class=""
                            <a class="nav-link p-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            </a>
                            <ul class="nav-item nav-item-text dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("LeaderBoard", "Contest")">LeaderBoard</a>
                                </li>
                            </ul>*@
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                        <li class="nav-item nav-item-text">
                            <a class="nav-link" href="#">Community</a>
                        </li>
                        <ul class="nav">
                            @if (TempData["ROLE_NAME"] != null) // thiếu chia theo admin, staff , member, manager
                            {
                                <!-- Display this when the user is logged in -->
                                <li class="nav-item nav-item-text">
                                     <div class="user-dropdown dropdown">
                                        <button class="btn-user-dropdown text-white btn dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><img id="profile-pic" class="img-fluid" src="~/images/avatar2.png" alt="fullname"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="@Url.Action("MemberProfile", "Member")">
                                                Member Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Logout</a>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <!-- Display this when the user is not logged in -->
                                <li class="nav-item nav-item-text">
                                    <a class="nav-link" href="@Url.Action("login", "Auth")">Login</a>
                                </li>
                            }
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer" style="background: rgba(31.49, 82.87, 0, 0.35)">
        <div class="container-sm">
            <p class="row bottom-text text-wrap mx-3">
                We welcome donations in any amount to help fund club initiatives and activities, such as the purchase of
                bird seed for feeding birds, necessaries for harmed bird treatments, the annual Contests, Field trips
                and other club events, the purchase of supplies and tools for our volunteer projects, etc.
            </p>
            <a class="row button" href="#">
                <div class="d-flex justify-content-center bottom-text">Donate</div>
            </a>
            <div class="row justify-content-between">
                <div class="col d-flex bottom-text">@@2024 ChaoMao BirdClub</div>
                <div class="col d-flex other-fanpages">
                    <a href="#"><img class="other-fanpage px-1" src="~/images/akar-icons_location.png" /></a>
                    <a href="#"><img class="other-fanpage px-1" src="~/images/ant-design_instagram-outlined.png" /></a>
                    <a href="#"><img class="other-fanpage px-1" src="~/images/bxl_facebook.png" /></a>
                    <a href="#"><img class="other-fanpage px-1" src="~/images/ant-design_twitter-outlined.png" /></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
